@use '@/styles/variables.scss' as *;

.link-back {
  margin-top: 60px;
  @include flex-center;
  justify-content: flex-start;
  cursor: pointer;
  color: #333;

  @include sm {
    margin-top: 40px;
  }

  @include xs {
    margin-top: 24px;
  }

  &:hover {
    color: var(--brand);

    .link-back__text {
      color: var(--brand);
    }
  }
}

.link-back__text {
  margin-left: 8px;
}
