.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5px 0;
  font-size: 16px;
  border: 1px solid white;
}

.input-wrapper.input-disabled {
  background-color: #ffffff;
  color: #e0e0e0;
  cursor: not-allowed;
}

.input-wrapper:focus-within {
  border: 1px solid #518581;
}

.input-element {
  width: 100%;
  padding-left: 8px;
  height: 40px;
  font-size: 16px;
  border: none;
  color: var(--text-primary);
}

.input-element:focus {
  outline: none;
}

.input-element::placeholder {
  color: var(--text-secondary);
}

.input-element:disabled {
  background-color: #ffffff;
  color: rgba(175, 173, 181, 1);
  opacity: 0.6;
}

.input-after-slot {
  position: absolute;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999999;
}
