@use '@/styles/variables.scss' as *;

.product-page__wrapper {
  padding: 0 100px 143px 100px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;

  @include sm {
    padding: 0 20px 143px 20px;
  }
}

.product-page__content {
  margin-top: 35px;
  display: flex;
  gap: 48px;

  @include md {
    flex-direction: column;
  }
}

.product-page__image {
  flex: 0 0 600px;
  position: relative;

  @include md {
    flex: 0 0 auto;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }

  & img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}

.product-page__info {
  flex: 1;

  @include md {
    width: 100%;
  }
}

.product-page__description {
  margin-top: 24px;
  text-align: left;
}

.product-page__price-section {
  margin-top: 48px;
}

.product-page__price {
  margin-top: 32px;
}

.product-page__actions {
  margin-top: 48px;
  display: flex;
  gap: 48px;

  .product-page__add-to-cart {
    border: 1px solid var(--text-secondary);
    background-color: #fff;
    color: #000;

    &:hover {
      background-color: #d9d9d9 !important;
    }
  }
}
