/* Default loading=false*/
.button {
    width: auto;
    height: 52px;
    padding: var(--spacing-s) var(--spacing-l);
    gap: var(--spacing-xxs);
    min-width: 52px;
    color: var(--button-primary-text);
    border: none;
    background-color: var(--button-primary-bg);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #fff;
}

/* default, Loading=true */
.button-loading {
  background: #518581;
  display: flex;
  align-items: center;
  padding: 14px 20px;
}

/* hover loading=false */
.button:hover:not(.button-disabled):not(.button-loading) {
    background: #86aaa7;
}

/* disabled, Loading=false */
.button-disabled:not(.button-loading) {
  background: #d9d9d9;
}

 /* disabled, Loading=true */
.button-loading.button-disabled {
  background: #d9d9d9;
}

/* active loading=false */
.button:active:not(.button-disabled):not(.button-loading) {
  background: #487773;
}
