@use '@/styles/variables.scss' as *;

.button {
  width: auto;
  height: 52px;
  padding: var(--spacing-s) var(--spacing-l);
  gap: var(--spacing-xxs);
  min-width: 52px;
  color: var(--button-primary-text);
  border: none;
  background-color: var(--button-primary-bg);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #fff;

  /* hover loading=false */
  &:hover:not(.button--disabled):not(.button--loading) {
    background: var(--button-primary-bg-hover);
  }

  /* hover loading=false */
  &:active:hover:not(.button-disabled):not(.button-loading) {
    background: var(--button-primary-bg-active);
  }

  /* disabled, Loading=false */
  &--disabled:not(.button-loading) {
    background: var(--button-primary-bg-disabled);
  }

  /* default, Loading=true */
  &--loading {
    background: var(--button-primary-bg);
    @include flex-center;
    padding: 14px 20px;

    &.button--disabled {
      background: var(--button-primary-bg-disabled);
    }
  }
}
