@use '@/styles/mixins.scss' as *;

.products-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;

  @include sm {
    justify-items: center;
  }

  @include xs {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__card-pointer {
    cursor: pointer;
  }
}