.grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;

  @media (max-width: 768px) {
    justify-items: center;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

.cardPointer {
  cursor: pointer;
}
