@use '@/styles/mixins.scss' as *;
@use '@/styles/variables.scss' as *;

.card {
  display: flex;
  flex-direction: column;
  width: 348px;
  padding: 0px 0px 24px;
  background: $card-bg;
  border-radius: $border-radius;
  overflow: hidden;
  transition: box-shadow $transition-duration $transition-easing;

  &:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);

    .card__image {
      transform: scale(1.05);
    }
  }

  &__image {
    height: 348px;
    background-color: $card-image-bg;
    transition: transform $transition-duration $transition-easing;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 12px;
    margin-top: 24px;
    margin-bottom: 20px;
  }

  &__footer {
    @include flex-center;
    justify-content: space-between;
    margin: 0 14px;

    button {
      border-radius: $border-radius;
      transition: all $transition-duration $transition-easing;
    }
  }
}
