@use '@/styles/variables.scss' as *;

.card {
  display: flex;
  flex-direction: column;
  width: 348px;
  padding: 0px 0px 24px;
  background: var(--card-bg);
  overflow: hidden;

  &:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  }

  &__image {
    height: 348px;
    background-color: var(--card-image-bg);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 12px;
    margin-top: 24px;
    margin-bottom: 20px;
  }

  &__footer {
    @include flex-center;
    justify-content: space-between;
    margin: 0 14px;
  }
}
