@use '@/styles/mixins.scss' as *;
@use '@/styles/variables.scss' as *;

.product-page__wrapper {
  padding: 0 100px 143px 100px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;

  @include md {
    padding: 0 50px 143px 50px;
  }

  @include sm {
    padding: 0 20px 143px 20px;
  }
}

.product-page__content {
  margin-top: 35px;
  display: flex;
  gap: 48px;

  @include md {
    flex-direction: column;
  }
}

.product-page__image {
  flex: 0 0 600px;
  position: relative;

  @include md {
    flex: 0 0 auto;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }

  @include sm {
    flex: 0 0 auto;
    max-width: 100%;
    width: 100%;
  }

  & img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}

.product-page__info {
  flex: 1;

  @include md {
    width: 100%;
  }
}

.product-page__rating {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.product-page__description {
  margin-top: 24px;
  text-align: left;
}

.product-page__price-section {
  margin-top: 48px;
}

.product-page__price {
  margin-top: 32px;
}

.product-page__actions {
  margin-top: 48px;
  display: flex;
  gap: 48px;

  .product-page__add-to-cart {
    border: 1px solid $text-secondary;
    background-color: $button-primary-bg;
    color: $WHITE;
    border-radius: $border-radius;
    transition: all $transition-duration $transition-easing;
    cursor: pointer;

    &:hover {
      background: #518581;
      color: #fff;
    }
  }

  .product-page__counter {
    display: flex;
    align-items: center;
    height: 52px;
    border: 1px solid $brand;
    border-radius: $border-radius;
  }

  .product-page__counter-btn {
    width: 48px;
    height: 100%;
    border: none;
    background: transparent;
    color: $brand;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all $transition-duration $transition-easing;
    border-radius: $border-radius;

    &:hover {
      background: $brand;
      color: $WHITE;
    }
    &--minus {
      &:hover {
        background-color: #d32f2f !important;
        color: $WHITE;
      }
    }
  }

  .product-page__counter-qty {
    min-width: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }
}