.multi-dropdown {
    position: relative;
    width: 100%;
}

.dropdown-options {
    margin-top: 8px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
}

.dropdown-option {
  cursor: pointer;
  padding: 15px 12px;
  color: var(--text-primary);
  font-size: 16px;
}

.multi-dropdown-option:hover {
  background-color: rgba(175, 173, 181, 1);
}

.multi-dropdown-option.selected {
  color: #518581;
}

.multi-dropdown-container {
  position: relative;
  width: 100%;
}

.multi-dropdown-options {
  margin-top: 8px;
  width: 100%;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
}

.multi-dropdown-option-text {
  padding: 14px 12px;
  height: 48px;
  cursor: pointer;
  color: var(--text-primary);
  font-size: 16px;
}