@use '@/styles/mixins.scss' as *;
@use '@/styles/variables.scss' as *;

.product-image {
  flex: 0 0 600px;
  position: relative;

  @include md {
    flex: 0 0 auto;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }

  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  &__controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 10px;
    pointer-events: none;
  }

  &__control-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    @include flex-center;
    cursor: pointer;
    pointer-events: auto;
    color: $WHITE;
    transition: background-color $transition-duration;

    &:hover {
      background-color: rgba(0, 0, 0, 1);
    }
  }

  &__control-icon {
    transform: rotate(-90deg);

    &--prev {
      transform: rotate(90deg); // стрелка влево
    }
    &--next {
      transform: rotate(-90deg); // стрелка вправо
    }
  }
}
