@use '@/styles/mixins.scss' as *;
@use '@/styles/variables.scss' as *;

.profile-page {
  &__container {
    padding: 0 100px 143px 100px;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;

    @include sm {
      padding: 0 20px 143px 20px;
    }
  }

  &__wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: $spacing-l;
  }

  &__loader {
    @include flex-center;
    min-height: 400px;
  }

  &__title {
    margin-bottom: $spacing-l;
  }

  &__info {
    background-color: $card-bg;
    border-radius: 8px;
    padding: $spacing-l;
    margin-bottom: $spacing-l;
  }

  &__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-m 0;
    border-bottom: 1px solid $text-secondary;
  }

  &__logout {
    width: 100%;
    border-radius: $border-radius;
    transition: all $transition-duration $transition-easing;
  }
}
