.icon {
  color: currentColor;
}

.icon-color-primary {
  color: var(--text-primary);
}

.icon-color-secondary {
  color: var(--text-secondary);
}

.icon-color-accent {
  color: var(--text-accent);
}
